mixin navBar(items,logo)
  nav.main-nav.navbar#mainNav
    if logo
      figure.nav-logo
        img.nav-logo__img(src=logo)
    ul.menu
      each item in items
        li.menu__item
          if !item.subMenu
            a.menu__link(href=item.url) #{item.name}
          if item.subMenu
            a.menu__link.has-sub-menu(href=item.url) #{item.name}
            ul.sub-menu
              each subItem in item.subMenu
                li.sub-menu__item
                  if !subItem.subMenu
                    a.sub-menu__link(href=subItem.url) #{subItem.name}
                  if subItem.subMenu
                    a.sub-menu__link.has-sub-menu(href=subItem.url) #{subItem.name}
                    ul.sub-menu-l2
                      each subItem2 in subItem.subMenu
                        li.sub-menu-l2__item
                          a.sub-menu-l2__link(href=subItem2.url) #{subItem2.name}
    a.menu-icon#navTrigger(href="#")
      span.menu-icon__item
      span.menu-icon__item
      span.menu-icon__item